#columns{
  padding: 5rem;
  padding-top: 3rem;
  column-width: 300px;
  column-gap: 15px;
}
#columns figure {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  margin:0;
  margin-bottom: 15px;
}
#columns figure img {
  width: 100%;
}
