<!DOCTYPE html>
<html lang="ko-kr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no" />
    <title>Hard Project</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <link rel="stylesheet" type="text/css" href="css/menu.css" />
    <link rel="stylesheet" type="text/css" href="css/TodoListTemplate.css" />
  </head>

  <body>
    <header>
      <p class="main_title">
        YEAAAHH
      </p>
      <p class="sub_title">
        Fun with your music
      </p>
      <nav id="topMenu">
        <ul>
          <li class="topMenuLi">
            <a class="menuLink" href="/"> Home </a>
          </li>
          <li>|</li>
          <li class="topMenuLi">
            <a class="menuLink" href="/sample"> Sample </a>
          </li>
          <li>|</li>
          <li class="topMenuLi">
            <a class="menuLink" href="/gallery"> Gallery </a>
          </li>
          <li>|</li>
          <li class="topMenuLi">
            <a class="menuLink" href="/music"> Music </a>
          </li>
          <li>|</li>
        </ul>
      </nav>
    </header>

    <section class="todoapp">
      <div class="todo-list-template">
        <div class="title">
          To-Do List
        </div>

        <section class="form-wrapper">
          <div class="form">
            <input class="new-todo"
              autofocus autocomplete="off"
              placeholder="무얼 해야 할까?"
              v-model="newTodo"
              @keyup.enter="addTodo">
            <div class="create-button" @click="addTodo">
              추가
            </div>
          </div>
        </section>

        <section class="todos-wrapper" v-show="todos.length" v-cloak>
          <input class="toggle-all" type="checkbox" v-model="allDone" />
          <ul class="todo-list">
            <li v-for="todo in filteredTodos"
              class="todo"
              :key="todo.id"
              :class="{ completed: todo.completed, editing: todo == editedTodo }" >
              <div class="view">
                <input class="toggle" type="checkbox" v-model="todo.completed" />
                <label @dblclick="editTodo(todo)">{{ todo.title }}</label>
                <button class="destroy" @click="removeTodo(todo)"></button>
              </div>
              <input class="edit" type="text"
                v-model="todo.title"
                v-todo-focus="todo == editedTodo"
                @blur="doneEdit(todo)"
                @keyup.enter="doneEdit(todo)"
                @keyup.esc="cancelEdit(todo)">
              </li>
          </ul>
        </section>

        <footer class="footer" v-show="todos.length" v-cloak>
          <span class="todo-count">
            <strong> {{ remaining }} </strong> {{ remaining | pluralize }} left
          </span>
          <ul class="filters">
            <li>
              <a href="#/all" :class="{ selected: visibility == 'all' }"> All </a>
            </li>
            <li>
              <a href="#/active" :class="{ selected: visibility == 'active' }"> Active </a>
            </li>
            <li>
              <a href="#/completed" :class="{ selected: visibility == 'completed' }"> Completed </a>
            </li>
          </ul>
          <button class="clear-completed" @click="removeCompleted" v-show="todos.length > remaining">
            Clear completed
          </button>
        </footer>
      </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="components/todo_list.js"></script>
  </body>

</html>
