<!DOCTYPE html>
<html lang="ko-kr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no" />
    <title>Hard Project</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <link rel="stylesheet" type="text/css" href="css/menu.css" />
    <link rel="stylesheet" type="text/css" href="css/home.css" />
  </head>

  <body>
    <header>
      <p class="main_title">
        <a href="/">YEAAAHH</a>
      </p>
      <p class="sub_title">
        Fun with your music
      </p>
      <nav id="topMenu">
        <ul>
          <li>|</li>
          <li class="topMenuLi">
            <a class="menuLink" href="/checklist"> Checklist </a>
          </li>
          <li>|</li>
          <li class="topMenuLi">
            <a class="menuLink" href="/gallery"> Gallery </a>
          </li>
          <li>|</li>
          <li class="topMenuLi">
            <a class="menuLink" href="/music"> Music </a>
          </li>
          <li>|</li>
        </ul>
      </nav>
    </header>

    <section class="Welcome">

      <section class="welcome-image">
        <img src="/image/cong_2.png" />
      </section>

      <section class="welcome-message">
        <h1 id="welcome">
          수요일 새벽이다!
        </h1>
        <h1>
          시작은 Audio Edit Web 이라는 큰 꿈을 가지고 시작했으나, <br />
          미약한 연습용 웹으로 끝마치고 말았습니다.. <br /> <br/>

          시작 화면을 마지막 날에 만드는 그런 이상한 순서를 취하다가, <br />
          디자인 능력이 저 바닥을 기는 수준이라는 걸 깨달음 ㅜㅜㅜㅜ<br />
          나중에 디자인 학원이라도 다니든가 해야지 ㅁㄴㅇㄹ <br /><br />

          아무튼 그런고로 시작 화면은 단순한 글들로 채워봅니다. <br />
          아무튼 어찌어찌 끝났으니 이제 난 모르겠다아아아아아 <br /><br />

          헤헤헤헤헤헤헤헤헤헤헤헤헤헤헤헤 <br />
        </h1>
      </section>

      <section class="welcome-image">
        <img src="/image/cong_1.png" />
      </section>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="components/todo_list.js"></script>
  </body>

</html>
