<!DOCTYPE html>
<html lang="ko-kr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no" />
    <title>Hard Project</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <link rel="stylesheet" type="text/css" href="css/menu.css" />
    <link rel="stylesheet" type="text/css" href="css/TodoListTemplate.css" />
  </head>

  <body>
    <header>
      <p class="main_title">
        YEAAAHH
      </p>
      <p class="sub_title">
        Fun with your music
      </p>
      <nav id="topMenu">
        <ul>
          <li class="topMenuLi">
            <a class="menuLink" href="/"> Home </a>
          </li>
          <li>|</li>
          <li class="topMenuLi">
            <a class="menuLink" href="/sample"> Sample </a>
          </li>
          <li>|</li>
          <li class="topMenuLi">
            <a class="menuLink" href="/gallery"> Gallery </a>
          </li>
          <li>|</li>
          <li class="topMenuLi">
            <a class="menuLink" href="/music"> Music </a>
          </li>
          <li>|</li>
        </ul>
      </nav>
    </header>

    <div id="app">
      <div class="todo-list-template">
        <div class="title">
          뭐하지 헤헤
        </div>
        <div class="form-wrapper">
          <div class="form">
            <input value="" onchange="" onkeypress="" />
            <div class="create-button" onclick="">
              추가
            </div>
          </div>
        </div>
        <div class="todos-wrapper">

          <div class="todo-item" onclick="">
            <div class="remove" onclick="">
            </div>
            <div class={`todo-text ${checked && 'checked'}`}>
              <div> 어렵다 어려워 </div>
            </div>
          </div>

          <div class="todo-item" onclick="">
            <div class="remove" onclick="">
            </div>
            <div class={`todo-text ${checked && 'checked'}`}>
              <div> 으아아아아 </div>
            </div>
          </div>

          <div class="todo-item" onclick="">
            <div class="remove" onclick="">
            </div>
            <div class={`todo-text ${checked && 'checked'}`}>
              <div> 컴포넌트으으으 </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="components/todo_list.js"></script>
  </body>

</html>
