<!DOCTYPE html>
<html lang="ko-kr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no" />
    <title>Hard Project</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <link rel="stylesheet" type="text/css" href="css/menu.css" />
    <link rel="stylesheet" type="text/css" href="css/music-list.css" />
  </head>

  <body>
    <header>
      <p class="main_title">
        YEAAAHH
      </p>
      <p class="sub_title">
        Fun with your music
      </p>
      <nav id="topMenu">
        <ul>
          <li class="topMenuLi">
            <a class="menuLink" href="/"> Home </a>
          </li>
          <li>|</li>
          <li class="topMenuLi">
            <a class="menuLink" href="/sample"> Sample </a>
          </li>
          <li>|</li>
          <li class="topMenuLi">
            <a class="menuLink" href="/gallery"> Gallery </a>
          </li>
          <li>|</li>
          <li class="topMenuLi">
            <a class="menuLink" href="/music"> Music </a>
          </li>
          <li>|</li>
        </ul>
      </nav>
    </header>

    <section class="albumApp" v-cloak>
      <section class="interaction-button-wrapper">
        <form class="interaction-button"
          enctype="multipart/form-data"
          action="/audio"
          method="post">
          <label for="file-upload" class="custom-file-upload">
            Upload MP3 File
          </label>
            <input id="file-upload" type="file" name="audio" />
            <input class="submit-button" type="submit" value="전송" name="upload" />
        </form>

        <section class="interaction-button"
          enctype="multipart/form-data"
          action="/audio"
          method="post">
            <input class="custom-file-upload" type="text" />
            <button class="search-button"> 검색 </button>
        </section>
      </section>

      <ul class="album-list">
        <li v-for="album in albums"
            class="album"
            :key="album.id">
          <div class="album-item">
            <a class="album-link" href="/sample">
            <div class="album-info">
              <img class="album-image" :src="album.picture" />
              <p class="album-title">
                {{ album.title }}
              </p>
              <p class="album-artist">
                {{ album.artist }}
              </p>
            </div>
            </a>
          </div>
        </li>
      </ul>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.4.0/wavesurfer.min.js"></script>
    <script type="text/javascript" src="components/audio-metadata.min.js"></script>
    <script src="components/music_list.js"></script>
  </body>

</html>
