<!DOCTYPE html>
<html lang="ko-kr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no" />
    <title>Hard Project</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/menu.css" />
    <link rel="stylesheet" type="text/css" href="/css/music-play.css" />
  </head>

  <body>
    <header>
      <p class="main_title">
        <a href="/">YEAAAHH</a>
      </p>
      <p class="sub_title">
        Fun with your music
      </p>
      <nav id="topMenu">
        <ul>
          <li>|</li>
          <li class="topMenuLi">
            <a class="menuLink" href="/checklist"> Checklist </a>
          </li>
          <li>|</li>
          <li class="topMenuLi">
            <a class="menuLink" href="/gallery"> Gallery </a>
          </li>
          <li>|</li>
          <li class="topMenuLi">
            <a class="menuLink" href="/music"> Music </a>
          </li>
          <li>|</li>
        </ul>
      </nav>
    </header>

    <div id="album-wrapper">
      <div class="image-wrapper">
        <img class="album-cover" :src= "albums[indexPlaying].picture" />
      </div>
      <div class="waveform-wrapper">
        <section class="album-info">
            <p>
              <h1> {{ albums[indexPlaying].title }} </h1>
            </p>
            <p>
              <h3> {{ albums[indexPlaying].artist }} </h3>
            </p>
        </section>
        <div id="waveform"></div>
        <div v-show="seen" class="music-info">
          {{ current + " / " + duration }}
        </div>
        <div class="button-wrapper">
          <img id="prev" @click="playPrev" src="/image/prev.png" />
          <img id="backward" @click="skipBackward" src="/image/backward.png" />
          <img id="start" @click="play" src="/image/play.png" />
          <img id="pause" @click="pause" src="/image/pause.png" />
          <img id="stop" @click="stop" src="/image/stop.png" />
          <img id="forward" @click="skipForward" src="/image/forward.png" />
          <img id="next" @click="playNext" src="/image/next.png" />
        </div>
      </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.4.0/wavesurfer.min.js"></script>
    <script src="/components/music_play.js"></script>
  </body>

</html>
