#topMenu {
  height: 50px;
}

#topMenu ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0 auto;
}

#topMenu ul li {
  color: white;
  display: inline-block;
  font-size: 18px;
  vertical-align: middle;
  text-align: center;
  position: relative;
  padding: 10px;
}

.menuLink, .submenuLink {
  text-decoration: none;
  display: block;
  width: 150px;
  color: white;
  font-weight: bold;
  font-family: "Trebuchet MS", Dotum;
}

.topMenuLi:hover .menuLink {
  color:#ffc9c9;
}

.submenuLink {
  color: #2d2d2d;
  background-color: white;
  border: solid 1px black;
  margin-top: -1px;
}

.topMenuLi:hover .submenu {
  height: 93px;
}
