ul {
  list-style: none;
}

#columns li {
  float: left;
  margin: 10px;
  width: calc(25% - 20px);
  background: white;
  text-align: center;
}

.album-cover {
  width: 100%;
  height: 260px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.album-info {
  padding: 10px;
}

.album-title {
  font-family: 'Noto Sans KR', sans-serif;
}

.album-data {
  font-size: 12px;
}
