html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  outline: 0;
}

body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  background: #f9f9f9;
}

header {
  text-align: center;
  font-family: "Helvetica Neue", "Futura", "Trebuchet MS", Arial;
  background-color: #22b8cf;
}

.main_title {
  padding-top:3rem;
  margin:0;
  font-size: 35px;
  font: "Futura";
  width: 100%;
  color: white;
  background-color: #22b8cf;
}

.sub_title {
  margin: 0;
  color: white;
  padding-bottom: 2rem;
  font-size: 16px;
  background-color: #22b8cf;
}

#uploadForm {
  display: flex;
  background: white;
  width: 512px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); /* 그림자 */
  margin: 0 auto; /* 페이지 중앙 정렬 */
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
  background: #22b8cf;
  border-radius: 3px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.custom-file-upload {
    flex = 1;
    margin-left: 10px;
    width: 300px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}
